#include "magpie-lite.dts"

/ {
    backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm3 0 100000>;
		default-brightness-level = <4095>;
        num-interpolated-steps = <1>;
		status = "okay";
	};
};

&lcdif {
       status = "okay";
};

&pwm3 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_pwm3>;
    status = "okay";
};

&mipi_dsi {
    status = "okay";
    panel@0 {
        compatible = "himax,hx8399c";
        reg = <0>;
        pinctrl-0 = <&pinctrl_hx8399c_en>;
        reset-gpio = <&gpio5 20 GPIO_ACTIVE_LOW>;
        dsi-lanes = <4>;
        video-mode = <2>;   /* 0: burst mode
                     * 1: non-burst mode with sync event
                     * 2: non-burst mode with sync pulse
                     * 3: command mode
                     */
        panel-width-mm = <68>;
        panel-height-mm = <121>;
        status = "okay";
    };
};

&i2c1 {
    gt911@14 {
        compatible = "goodix,gt911";
        reg = <0x14>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_goodix_tp>;
        interrupt-parent = <&gpio1>;
        interrupts = <12 IRQ_TYPE_EDGE_FALLING>;
        irq-gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio5 21 GPIO_ACTIVE_HIGH>;
        touchscreen-size-x = <1080>;
        touchscreen-size-y = <1920>;
        status = "okay";
    };
};



&iomuxc {
    pinctrl_pwm3: pwm3grp {
        fsl,pins = <
            MX8MM_IOMUXC_SPDIF_TX_PWM3_OUT        0x00
        >;
    };

    pinctrl_hx8399c_en: hx8399c_en_iogrp {
        fsl,pins = <
            MX8MM_IOMUXC_I2C4_SCL_GPIO5_IO20    0x16
        >;
    };

    pinctrl_goodix_tp: goodix_tp_iogrp {
        fsl,pins = <
            MX8MM_IOMUXC_GPIO1_IO12_GPIO1_IO12  0x19
            MX8MM_IOMUXC_I2C4_SDA_GPIO5_IO21    0xb6
        >;
    };
};
